version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
      - ~/.ssh:/home/node/.ssh:cached
      - ~/.npmrc:/home/node/.npmrc:cached
    command: sleep infinity
    working_dir: /workspaces/azure-function-boilerplate

  azure-blob-storage:
    image: mcr.microsoft.com/azure-storage/azurite
    restart: unless-stopped
    environment:
      - AZURITE_ACCOUNTS=devstoreaccount1:devstoreaccount1:12345678
      - AZURITE_BLOB_HOST=0.0.0.0
      - TZ=UTC
    network_mode: service:app